/* ==========================================================================
   Icons
   ========================================================================== */

   .icon {
    display: inline-block;
    position: relative;
    top: 0.5em;
    width: 5em; // default width, can be overridden
    height: 2.5em; // default height, can be overridden
    line-height: 2;
    vertical-align: middle;
    fill: currentColor;

  $icons: (
    (bitbucket, #205081, 1em),
    (codepen, #000),
    (dribbble, #ea4c89),
    (email, #000),
    (facebook, #3b5998),
    (flickr, #0063dc),
    (github, #181717),
    (gitlab, #e24329),
    (googleplus, #dc4e41),
    (instagram, #e4405f),
    (lastfm, #d51007),
    (linkedin, #0077b5),
    (pinterest, #bd081c),
    (rss, #ffa500),
    (soundcloud, #f30),
    (stackoverflow, #fe7a16),
    (tumblr, #36465d),
    (twitter, #1da1f2),
    (xing, #005a5f),
    (youtube, #cd201f, 1.5em)
    (stanna,  #cd201f, 10em)
  );

  @each $icon, $color, $size in $icons {
    &--#{$icon} {
      fill: $color;
      width: $size; // Apply the size for width
      height: $size; // Apply the same size for height, or use a different value if needed
    }
  }
}