/* ==========================================================================
   Icons
   ========================================================================== */

   .icon {
    display: inline-block;
    position: relative;
    top: -0.05em;
    width: 1.5em; // default width, can be overridden
    height: 1.5em; // default height, can be overridden
    line-height: 2;
    vertical-align: middle;
    fill: currentColor;

  $icons: (
    (stanna2, #bdb216, 4em, 2.5em, 0em),
  );

  @each $icon, $color, $width, $height, $top in $icons {
    &--#{$icon} {
      fill: $color;
      width: $width; // Apply the size for width
      height: $height; // Apply the same size for height, or use a different value if needed
      top: $top
    }
  }
}